<html>

    <head>
        <title>About us / Projects</title>
        <link rel="shortcut icon" href="{{url_for('static', filename='favicona.ico')}}" type="image/x-icon">
    </head>

    <body style="background-size: 100% 100%; background-attachment: fixed; background-repeat: no-repeat; background-image: url(http://192.168.1.202:2222/static/photos/backgroundht.jpg); text-align: center; font-family: Arial, serif;">
        <div style="overflow: hidden; overflow-y: scroll; position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); background-color: rgba(255, 255, 255, 0.418); border: 3px solid white; border-radius: 3px; height: 500px; width: 500px;">
            <h1>About us / me</h1>
            <p>About us / me</p>
            <p>I am a python creator who makes websites with flask and this is one of my projects.</p>
            <p>If you like it and want to support me then please hit the subscribe button and the bell to be sure you wont miss anything.</p>
            <p>--------------------------------------------------------------------------------------</p>
            <h1>Projects</h1>
            <p>Project 1: The Cuboid "1" flask</p>
            <button style="background-color:aqua;" type="button" onclick="location.href='http://192.168.1.202:2222'">Project 1</button>
            <p>Project 2: The Cuboid "2" flask "language: CZ</p>
            <button style="background-color:aqua;" type="button" onclick="location.href='http://192.168.1.202:5000'">Project 2</button>
            <p>Coming soon...</p>
            <button style="background-color:firebrick;" type="button" onclick="location.href='http://192.168.1.202:2222'" class="Back">Go back</button>
        </div>
    </body>

</html>