<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{url_for('static', filename='faviconw.ico')}}" type="image/x-icon">
    </head>

    <body style="background-size: 100% 100%; background-attachment: fixed; background-repeat: no-repeat; background-image: url(http://192.168.1.202:2222/static/photos/backgroundht.jpg); text-align: center; font-family: Arial, serif;">

        </script>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50% , -50%); background-color: rgba(255, 255, 255, 0.418); border: 3px solid white; border-radius: 3px; height: 500px; width: 500px;">
            <h1>Login</h1>
            <form id="form" style="margin: auto;" name="log" action="." method="post">
                <p>Username</p>
                <input id="username" type="text" name="usernameuser" autocomplete="off" required>
                <p>Password</p>
                <input type="password" name="ini" autocomplete="off" required>
                <br>
                <input type="submit" value="Login">
            </form>
            <br>
            <button style="margin: auto; background-color:firebrick;" type="button" onclick="location.href='http://192.168.1.202:2222'" class="Back">Go back</button>
        </div>
    </body>

    <head>
        <title>Chat login</title>
    </head>

</html>